
*{
    margin: 0;
}

header{
    position:relative;

    height: 80px;
    width: 1050px;
    background-image: url("../img/pattern.png");
    background-size: 300px;
    background-color:#44bcd8;
}

.logo{
    position:absolute;
    bottom:0;
    width:15%;

}

main{
    margin:8px;
}

#the-booleaner{
    color:#44bcd8;
    font-weight: 600;
}

.grigio{
    color:grey;
    font-weight: 600;
}

.piccolo{
    font-size: 0.6em;
    font-weight: 600;

}






.highlighted{
    display: inline-block;
    background-color:  #ffff00;
}


.riga{
    width: 1050px;
}
.cella{

    width:33%;
    display:inline-block;
    text-align: center;
   
}

.blu{
    background-color: rgb(70, 143, 239);
    color: white;
}



.azzurra{
    background-color: rgb(29, 201, 223);

}

.bianca{
    background-color: white;
}


.immagine{
    width: 200px;
    height: 140px;
    background-size:contain;
    color: white;
    font-weight: 600;
    background-repeat: no-repeat;
}

.monitor{
    background-image: url("../img/monitor.jpg");
}

.graph{
    background-image: url("../img/graph.jpg");
}